html,body{
	height: 100%;
	width : 100%;
	
}
.navbar{
	padding:.8ren;
	
}
.navbar-nav li{
	padding-right:20px;
	
}
.nav-link{
	font-size:1.1em !important;
}
.carousel-caption h1{
	font-size:500%;  
	text-shadow:1px 1px 15px #000;
	padding-bottom:1 rem;
}
.carousel-inner img{
	width:100%;
	height:100%;
}
.welcome{
	width:75%;
	margin:0 auto;
	
	padding-top:5px;
}
.carousel-caption{
	position:absolute;

}
.btn-primary:hover{
	border: 1px solid #563d7c;
}
.btn-secondary:hover{
	border: 1px solid #563d7c;
}
.jumbotron{
	padding:50px;
	border-radius:0;
}
.padding{
	padding:10px;
}
.fa-java{
color:red;
}
.fa-java,.fa-amazon,.fa-apple{
	font-size:60px;
	margin:16px;
}
.fun{
	width:100%;
	margin-bottom:32px;
}
.gif{
	max-width:100%;
}
.social a{
	font-size:80px;
	padding:25px;
}
 .fa-facebook-f"{
	 color:#4c0099;
 } 
 .fa-linkedin-in{
	 color:#0072b1;
 }
 .fa-twitter{
	 color:#00acee;
 }
.fa-reddit{
	color:#ED001C;
}
.fa-quora{

	color:#b92b27;
}
.fa-python{
	color:#306998 ;
}

 .fa-facebook-f:hover,.fa-linkedin-in:hover,.fa-twitter:hover,.fa-reddit:hover,.fa-quora:hover{
	color:#d5d5d5;
	
}
.bord{
	border:5px solid gainsboro;
	border-radius: 20px;
	margin-top:10px;
	margin-bottom:10px;
}

.figure{
	position: relative;
	width:100%;
	height:60%;
	margin:0 !important;
}
.fixed-wrap{
	clip:rect(0,auto,auto,0);
	position: absolute;
}
.footer{
	background-color:#3f3f3f;
	color:#d5d5d5;
	padding-top:20px;
}
hr.light{
	border-top:1px solid #d5d5d5;
}
.gallery-bord{
	border:2px solid gainsboro;
	border-radius:5px;
	margin-bottom:10px;
}

@media (max-width:576px) {
	.text1 {
		font-size:20px ;
	}
	.text2 {
		font-size:40px ;

	}
	.subtitle-text{
		font-size: 20px;

	}
	.bord img{
		margin:auto;
		margin-left:10px;
	}
	.gif{
		width:100%;
	}
	
	}

	.card-columns {
		@include media-breakpoint-only(lg) {
		  column-count: 4;
		}
		@include media-breakpoint-only(xl) {
		  column-count: 5;
		}
	  }

